* {
    font-family: "Josefin Sans", Georgia, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: auto;
}

.instrukcja {
    width: 800px;
    margin: auto;
    padding: 20px;
}

.clearfix {
    clear:both;
}

header {
    width: 100%;
    height: 300px;
    position: relative;
    background: black url("images/book3.jpg") center/cover;
    font-size: 40px;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: white;
}

.title {
    background-color: rgba(157,190,255,0.5);
}

.header {
    width: content-box;
    height: 150px;
}

section {
    font-size: 25px;
}

.wstep {
    padding: 20px;
}

.kafel {
    min-width: 250px;
    height: auto;
    line-height: 1em;
    float: left;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    background: rgb(157,239,255);
    padding: 5px;

}

th {
    font-size: 30px;
}

td {
    font-size: 20px;
}

footer {
    background: rgb(173,157,254);
    height: 80px;
    padding: 20px;
}
.stopka {
    float: right;
    font-size: 20px;
}

